.mapDiv{
    width: 100%;
    height: 500px;
    border-radius: 25px;
    overflow: hidden;
  }
  

  .marker{
    background-image: url('cordinate.png');
    background-size: cover;
    width: 28px;
    height: 28px;
    border-radius:18px;
    border: solid 1px #eee;
    
  }

  .cordinateItem{
    padding: 5px 5px;
    
  }

  .camera-view{
    border-radius:10px;
    width: 100%;
    margin-bottom:25px;
  }